<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <p class="navbar-brand">Twitter Stats</p>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Dashboard", dashboard_path %></li>
        <li><%= link_to "Reports", reports_path %></li>
        <li><%= link_to "Log out", 'auth/logout', method: :get %></li>
      <% else %>
        <li><%= link_to "Log in", '/auth/auth0', method: :post %></li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>